:root, [data-bs-theme=light] {
  --bs-primary: #dc00a5;
  --bs-primary-rgb: 220,0,165;
  --bs-primary-text-emphasis: #580042;
  --bs-primary-bg-subtle: #F8CCED;
  --bs-primary-border-subtle: #F199DB;
  --bs-secondary: #6f6bc3;
  --bs-secondary-rgb: 111,107,195;
  --bs-secondary-text-emphasis: #2C2B4E;
  --bs-secondary-bg-subtle: #E2E1F3;
  --bs-secondary-border-subtle: #C5C4E7;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #dc00a5;
  --bs-btn-border-color: #dc00a5;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #BB008C;
  --bs-btn-hover-border-color: #B00084;
  --bs-btn-focus-shadow-rgb: 250,217,242;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #B00084;
  --bs-btn-active-border-color: #A5007C;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #dc00a5;
  --bs-btn-disabled-border-color: #dc00a5;
}

.btn-outline-primary {
  --bs-btn-color: #dc00a5;
  --bs-btn-border-color: #dc00a5;
  --bs-btn-focus-shadow-rgb: 220,0,165;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #dc00a5;
  --bs-btn-hover-border-color: #dc00a5;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #dc00a5;
  --bs-btn-active-border-color: #dc00a5;
  --bs-btn-disabled-color: #dc00a5;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #dc00a5;
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #6f6bc3;
  --bs-btn-border-color: #6f6bc3;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5E5BA6;
  --bs-btn-hover-border-color: #59569C;
  --bs-btn-focus-shadow-rgb: 233,233,246;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #59569C;
  --bs-btn-active-border-color: #535092;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6f6bc3;
  --bs-btn-disabled-border-color: #6f6bc3;
}

.btn-outline-secondary {
  --bs-btn-color: #6f6bc3;
  --bs-btn-border-color: #6f6bc3;
  --bs-btn-focus-shadow-rgb: 111,107,195;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6f6bc3;
  --bs-btn-hover-border-color: #6f6bc3;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #6f6bc3;
  --bs-btn-active-border-color: #6f6bc3;
  --bs-btn-disabled-color: #6f6bc3;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6f6bc3;
}

